header {
    background-color: var(--dark-blue);
    color: var(--text-white);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    box-shadow: 2px 2px 5px var(--shadow);
}